extends layout

block navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
      a.navbar-brand(href='/dashboard') MWF
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href='/dashboard') Dashboard
          li.nav-item
            a.nav-link(href='/stock') Stock
          li.nav-item
            a.nav-link(href='/stocklist') Stocklist
          li.nav-item
            a.nav-link(href='/finishedProducts') Products
          li.nav-item
            a.nav-link.text-danger(href='/logout') Log out

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-8.col-lg-6
        .card.shadow-lg.p-4(style="background-color:#DEB887; border-radius:10px;")
          h2.text-center.mb-4 Edit Stock Item
          hr
          form#editStockForm(action=`/stock/edit/${stock._id}` method='post')
            // Product Name & Product Type side by side
            .row.mb-3
              .col-md-6
                label.form-label Product Name
                input.form-control(type='text' required name='productName' value=stock.productName)
              .col-md-6
                label.form-label Product Type
                select.form-select(name='productType' required)
                  option(value='wood' selected=stock.productType=='Wood') Wood
                  option(value='furniture' selected=stock.productType=='Furniture') Furniture

            // Supplier Name & Cost Price side by side
            .row.mb-3
              .col-md-6
                label.form-label Supplier Name
                input.form-control(type='text' required name='supplierName' value=stock.supplierName)
              .col-md-6
                label.form-label Cost Price (UGX)
                input.form-control(type='number' required name='costPrice' value=stock.costPrice)

            // Date Received & Quality side by side
            .row.mb-3
              .col-md-6
                label.form-label Date Received
                input.form-control(type='date' required name='dateReceived' value=stock.dateReceived ? stock.dateReceived.toISOString().slice(0,10) : '')
              .col-md-6
                label.form-label Quality
                select.form-select(name='quality' required)
                  option(value='premium' selected=stock.quality=='premium') Premium
                  option(value='standard' selected=stock.quality=='standard') Standard
                  option(value='lowGrade' selected=stock.quality=='lowGrade') Low Grade

            // Quantity full-width at the bottom
            .row.mb-3
              .col-12
                label.form-label Quantity
                input.form-control(type='number' required name='quantity' value=stock.quantity)

            .d-flex.justify-content-between
              a.btn.btn-secondary(href='/stocklist') Cancel
              button.btn.btn-brown(type='submit') Update Stock

  script(src='/js/formValidation.js')
